<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <title>Process Folders</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{% static "images/bat.jpg" %}" type="image/x-icon">

</head>
<body>
    <h1>Process Folders</h1>
    <p>Enter the 'Enter_ID' values for both folders:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Process Folders</button>
    </form>
</body>
</html>